<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록 출력</title>
    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- lodash Library CDN -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- 검색 기능 만들기 (검색어가 포함된 title만 filtering) -->
        <input v-model="query" placeholder="검색어">
        <ul>
            <!-- for문 돌려서 json data의 .title 값 받아오기 -->
            <li v-for="post in filteredPosts">
                {{ post.title }}
            </li>
        </ul>
    </div>
    
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                query: '',
                posts: [],          // 전체 데이터
                filteredPosts: []   // 검색 조건에 맞는 데이터만 필터링
            },
            created: function() {
                // 통신 (jsonplaceholder.typicode.com 웹사이트 db 이용)
                this.getPosts();

                // 디바운스 적용된 검색 함수 정의
                this.debouncedSearch = _.devounce(this.search, 500);
            }, 
            methods: {
                getPosts: function() {
                    let v = this; // 전체 component를 받는 변수
                    fetch('https://jsonplaceholder.typicode.com/posts')
                    // json 자료 받기
                    .then(response => response.json()) 
                    .then(function(json) {
                        v.posts = json;
                        v.filteredPosts = json;
                    })
                },
                
                // search 함수 생성
                search: function(val) {
                    this.filteredPosts = this.posts.filter(post => post.title.includes(val))
                }
            },

            // query(검색창)에 변경 내용 발생 시, filter 기능 작동
            watch: {
                query: function(val) {
                    this.debouncedSearch(val);
                }
            }
        })

    </script>

</body>
</html>